body{
	background-image: url("images/background.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	background-attachment: scroll; 
	text-align: center;
}


.MichelleProfile {
	text-align: center;
	
}

.Michellelegend {
	font-size: 20px;
}

.Michelleheader {
	font-size: 35px;
}

.Michelletext {
	font-size: 19px;
}



.LorenzoProfile {
	text-align: center;
}

.Lorenzolegend {
	font-size: 20px;
}

.Lorenzoheader {
	font-size: 35px;
}

.Lorenzotext {
	font-size: 19px;
}



.Evanprofile {
	text-align: center; 
} 

.Evanlegend {
	font-size: 20px;
}

.Evanheader {
	font-size: 35px;
}

.Evantext {
	font-size: 19px;
}



.Aboutappprofile {
	text-align: center;
}

.Aboutapplegend {
	font-size: 20px;
}

.Aboutappheader {
	font-size: 35px;
}

.Aboutapptext {
	font-size: 19px;
}



#navigationBtns{
	margin-top: 20px;
}

#navigationBtns button{
	margin: 5px;
	padding: 10px 15px;
	border-radius: 10px;
	color: white;
	background: black;
	box-shadow: 0 8px 16px 0 rgba(0,0,0,0.6);
}