body{
	background-image: url("images/background.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	background-attachment: scroll; 
	text-align: center;
}

.MichelleProfile {
	text-align: center;
	
}

.LorenzoProfile {
	text-align: center;
}

.EvanProfile {
	text-align: center;
} 