body{
	background-image: url("images/background.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	background-attachment: scroll; 
}

.highlight-from-calendar {
	background-color: #fff6c2;
}

#navigationBtns{
	margin-top: 20px;
}

#navigationBtns button{
	margin: 5px;
	padding: 10px 15px;
	border-radius: 10px;
	color: white;
	background: black;
	box-shadow: 0 8px 16px 0 rgba(0,0,0,0.6)
}