body{
	background-image: url("images/background.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	background-attachment: scroll; 
	text-align: center;
}

.Tasktext{
	font-size: 30px;
}

